<!-- The Modal -->
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">User Details:</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>{{message}}</p>
        <!-- <div class="">
          <a href="/client/src/app/cart/cart.component.ts" download>
            <span>להורדת הקבלה</span>
          </a>
        </div> -->
        <div class="btn btn-info" (click)='download(text,cart)'>download</div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="hide()">OK</button>
      </div>

    </div>
  </div>
</div>

<!-- <input type="text" id="filename" value="bill.txt">
<div id="text-val" >
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>price</th>
        <th>count</th>
      </tr>
    </thead>
    <tbody *ngFor='let obj of product_cart;let i = index'>
      <tr>
        <td>{{obj.name}}</td>
        <td>{{obj.price}}</td>
        <td>{{obj.count}}</td>
      </tr>
    </tbody>
  </table>
</div> -->


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>my cart</p>
      <hr>
      <app-cart></app-cart>
    </div>
    <div class="col-md-6">
      <span>Order</span>
      <hr>
      <div>Shipping Details</div>
      <hr>
      <div class="input-group" name="city">
        <span class="input-group-btn" (dblclick)="dblclick('city')">
          <button class="btn btn-default" type="submit">
            <i class="fas fa-arrow-alt-circle-down"></i>
          </button>
        </span>
        <input type="text" class="form-control" name="city" [(ngModel)]='city' />
      </div>
      <div class="input-group">
        <span class="input-group-btn" (dblclick)="dblclick('street')">
          <button class="btn btn-default" type="submit">
            <i class="fas fa-arrow-alt-circle-down"></i>
          </button>
        </span>
        <input type="text" class="form-control" name="street" [(ngModel)]='street' (dblclick)="dblclick($event)" />
      </div>
      <h5 class="alert alert-danger" [hidden]='alert'>you need to choose enothr date!!!</h5>
      <div class="input-group">
        <span class="input-group-btn" (dblclick)="dblclick('date')">
          <button class="btn btn-default" type="submit">
            <i class="fas fa-arrow-alt-circle-down"></i>
          </button>
        </span>
        <input type="date" class="form-control" (dblclick)='dblclick(shipping_date)' [(ngModel)]='date' (keyup)="validDate()"/>
      </div>
      <p>payments:</p>
      <hr>
      <h5 class="alert alert-danger" [hidden]='alert_credit'>Please provide a valid Visa number!!!</h5>
      <div class="form-group">
        <input type="number" class="form-control"  [(ngModel)]='credit_card' (click)='alertCredit()' />
      </div>
      <div class="btn btn-info" (click)='order()'>Order</div>
    </div>
  </div>
</div>