<div class="container">
    <div class="row">
        <div class="col">
            <div [hidden]='back' class="col-md-3 btn btn-dark btn-sm" (click)='backToShop()'>back To Shop</div>
            <div class="table table-dark">
                <table>
                    <thead>
                        <tr>
                            <th [hidden]='order'>
                                index
                            </th>
                            <th>
                                product
                            </th>
                            <th>
                                count
                            </th>
                            <th>
                                price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor='let item of products_cart | mark:term; let i = index'>
                            <td [hidden]='order'>
                                {{i+1}}
                            </td>
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.count}}
                            </td>
                            <td>
                                price {{item.price}} ₪
                            </td>
                            <td [hidden]='order'>
                                <button  class="btn btn-secondary btn-circle btn-circle-sm m-1"
                                    (click)='deleteItem(item)'><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p [hidden]='back' class="text-center">NO CHANGES PERMITTED HERE!</p>
    <div class="row">
        <div class="col ">
            Total: {{total}}₪
        </div>
        <div [hidden]='order' class="col-md-3 btn btn-dark btn-sm" (click)='sendToOrder_()'>Order</div>
        <div [hidden]='order' class="col-md-3 btn btn-dark btn-sm" (click)='deleteAll()'>delete all</div>
    </div>
</div>