<nav class="navbar navbar-expand-lg bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Category</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" *ngFor='let obj of category;let i =index'>
                <li class="nav-item">
                    <a (click)='getProduct(obj.id)' class="nav-link text-info">{{obj.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>