<nav class="navbar navbar-expand-lg bg-dark fixed-top">

    <a class="navbar-brand" href="#">Online Shopping</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
                <a routerLink="/firstpage" routerLinkActive="active" class="nav-link active">Login</a>
            </li>
            <li class="nav-item">
                <a routerLink="/main" routerLinkActive="active" class="nav-link active">Main Page</a>
            </li>
            <li class="nav-item">
                <a routerLink="/sidebar" routerLinkActive="active" class="nav-link active">Saidebar</a>
            </li>
            <li class="nav-item">
                <a routerLink="/order" routerLinkActive="active" class="nav-link active">Order</a>
            </li>
        </ul>
        <div class="nav-link" href="#">Hello {{user.username}}</div>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" (keyup)='search()'
                [(ngModel)]='search_'>
        </div>
        <a class="btn btn-outline-primary" href="#">Sign up/in</a>
    </div>
</nav>